* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  background-color: rgb(36,36,36);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  align-items: center;
  flex: 15%;
  margin-left: 30px;
}

.search-component {
  align-items: center;
  flex: 50%;
  margin: auto;
}

.group-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 10%;
  overflow: auto;
  align-items: right;
  float: right;
}

.navbar-button {
  background-color: rgb(36,36,36);
  color: #FFFFFF;
  font-family: sans-serif;
  border: none;
  font-size: 13px;
  width: 33%;
}

@media (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }
}