* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 8px;
  font-size: 16px;
  height: 38px;
  border: none;
  float: left;
  width: 60%;
  background: rgb(58,58,58);
  color: rgb(186, 186, 186);
  z-index: 2;
  border-radius: 5px;
  font-family: sans-serif;
}

form.example button {
  float: left;
  width: 16%;
  height: 38px;
  background: rgb(58,58,58);
  color: #BC8C15;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}